*{
	margin: 0px;
	box-sizing: border-box;
}

body{
	height: 150vh;
	background-color: white;
	font-family: sans-serif;
	text-align: center;
	color: navy;
	/* font-size: 24px; */
	display: flex;
	flex-direction: column;
}

header{
    background: white;
    padding: 0 2em 2em 2em;
}

.nav_link{
    background: white;
    text-align: right;
    font-size: medium; 
    padding: 1em 0 1em 0;
} 

main{
    display: flex;
    flex: 1;
    padding: 0 2em 0 2em;
}

article{
    background: white;
    padding: 0 0 0 0;
    text-align: left;
    flex: 5 5 150px;
}

aside{
    background: white;
    padding: 0 1em 1em 0.5em;
    text-align: left;
    font-size: 20px;
    color: black;
    flex: 1 1 80px;
   
    
}

.contact{
    font-size: medium;
    text-align: left;
    background-color: rgb(190, 206, 190);
    grid-area: auto;
    padding: 0 1em 0 1em; 
    margin-bottom: 2em;
}

.submit{
    text-align: right;
    float: right;

}


footer{
    background: white;
    font-size: medium;
    font-style: italic;
    text-align: center;
}

@media all and (max-width: 900px){
    main{
        flex-direction: column;
    }
    article{
        padding: 1em 0 1em 0;
    }
}